html,body{
    margin: 0;
    padding: 0;
}

h1,h2,figure{
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 36pt;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    scrollbar-width: none;
}

.triptych-container{
    display: flex;
    width: 100vw;
    height: 100vh;    
    background-color: rgb(225, 225, 225);
}

.triptych-container .header{
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    -webkit-text-stroke: 1.5px black;
    color:transparent;
    z-index: 1;
}

.triptych-container>div{
    width: calc(100% / 3);
    height: 100%;
    word-break: break-all;
    padding: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.triptych-container>div:nth-of-type(2){
    border-left: 1px dotted dimgrey;
    border-right: 1px dotted dimgrey;
}

.triptych-container>div:hover{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

figure{
    transform: scaleX(-1);
    opacity: 0.25;
}

.triptych-container>div:hover figure{
    opacity: 1;
    transform: scaleX(1);
}

img{
    width: 100%;
}

a{
    display: block;
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

figcaption{
    padding-top: 20px;
}

@media only screen and (max-width: 600px){
    h1,h2,figure{
        font-size: 24pt;
    }

    .header-container{
        -webkit-text-stroke: 0.75px black;
    }
}